PORT=3000
PUBLIC_BASE_URL=http://localhost:3000
DATABASE_PATH=./data/instagram-personal.db

INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=http://localhost:3000/auth/instagram/callback
INSTAGRAM_GRAPH_VERSION=v24.0

GITHUB_TOKEN=
GITHUB_OWNER=minhaversao
GITHUB_REPO=bolado
GITHUB_RELEASE_TAG=instagram-personal-media

TOKEN_ENCRYPTION_KEY=
SESSION_SECRET=
DEFAULT_HASHTAGS=#rap #hiphop #trapbrasil #culturahiphop #reelsbrasil
